@model IEnumerable<CinemaApp.DomainEntity.Model.MovieHallDetails>

@{
    Layout = "~/Views/Shared/MovieSeatsLayout.cshtml";
}

@{
    ViewBag.Title = "Movie Seats";
}
<style>
    .flex-container {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 36px;
        text-align: center;
        background-color: cornsilk;
        height: 45px;
    }

    .flex-container1 {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 36px;
        text-align: center;
        background-color: peachpuff;
        height: 45px;
    }

    .flex-container2 {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 36px;
        text-align: center;
        background-color: chocolate;
        height: 45px;
    }

    .flex-container3 {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 36px;
        text-align: center;
        background-color: darkorange;
        height: 45px;
    }

    .flex-container4 {
        float: left;
        display: flex;
        width: 55px;
        border: 1px solid;
        padding: 15px;
        margin: 29px;
        text-align: center;
        background-color: cadetblue;
        height: 60px
    }

    .flex-container5 {
        float: left;
        display: flex;
        width: 55px;
        border: 1px solid;
        padding: 15px;
        margin-left: 95px;
        text-align: center;
        background-color: cadetblue;
        height: 60px;
    }

    .flex-container6 {
        float: left;
        display: flex;
        width: 55px;
        border: 1px solid;
        padding: 15px;
        margin-left: 140px;
        text-align: center;
        background-color: cadetblue;
        height: 60px;
    }

    table, th, td {
        /*border:1px solid black;*/
        padding: 3px;
    }
</style>

<h2>Movie Seats</h2>

<hr />
<h4>User : @ViewBag.Username</h4>
<h4>Current Balance : RM @ViewBag.CurrentBalance</h4>
<h4>Remaining Balance : RM @ViewBag.RemainingBalance</h4>
<hr />
<h4>Hall No : @ViewBag.HallNo</h4>
<h4>Movie Title : @ViewBag.MovieTitle</h4>
<h4>Movie Start Time : @ViewBag.MovieDateTime</h4>
<h4>Ticket Price (RM) : @ViewBag.TicketPrice</h4>
<h5>T : Taken   |   E : Empty   |   O : Ordered  | A : Add To Cart</h5>
<p class="text-warning">Choose your payment method to complete your ticket purchase in 5 mins. Otherwise , your seat will be released to other customers</p>
<hr />
<h4>  ---------------------------------------------------------------------------------------[Screen]-------------------------------------------------------------------------------------------</h4>
<div>
    @foreach (var item in Model)
    {
        @*if (item.Seat.Substring(0, 1) == "4" && item.Seat.Substring(item.Seat.Length - 1) == "9")
            {
                <button class="flex-container4 Seat" id="@item.Seat" style="margin-left:140px">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            @item.SeatStatus
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.Seat.Substring(item.Seat.Length - 1) == "7")
            {
                <button class="flex-container4 Seat" id="@item.Seat" style="margin-left:140px">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            @item.SeatStatus
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.Seat.Substring(item.Seat.Length - 1) == "5")
            {
                <button class="flex-container4 Seat" id="@item.Seat" style="margin-left:95px">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            @item.SeatStatus
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.Seat.Substring(item.Seat.Length - 1) == "3")
            {
                <button class="flex-container4 Seat" id="@item.Seat" style="margin-left:95px">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            @item.SeatStatus
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else*@
        @*if (item.Seat.Substring(0, 1) == "4" && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.E)
            {
                <button class="flex-container4 Seat" id="@item.Seat">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            E
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.O && item.UserDetailsId == ViewBag.UserDetailsId)
            {
                <div class="flex-container4">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            O
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </div>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.A && item.UserDetailsId != ViewBag.UserDetailsId)
            {
                <div class="flex-container4">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            T
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </div>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.T)
            {
                <div class="flex-container4">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            T
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </div>
            }
            else if (item.Seat.Substring(0, 1) == "4" && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.A)
            {
                <button class="flex-container4 Seat" id="@item.Seat">
                    <dl>
                        <dt style="margin-top:-5px;margin-left:6px">
                            A
                        </dt>
                        <dt style="margin-left:1px">
                            @item.Seat
                        </dt>
                    </dl>
                </button>
            }
            else
            {*@
        if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.E)
        {
            <button class="flex-container Seat" id="@item.Seat">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        E
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </button>
        }
        else if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.O && item.UserDetailsId == ViewBag.UserDetailsId)
        {
            <div class="flex-container2">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        O
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </div>
        }
        else if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.O && item.UserDetailsId != ViewBag.UserDetailsId)
        {
            <div class="flex-container1">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        T
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </div>
        }
        else if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.A && item.UserDetailsId != ViewBag.UserDetailsId)
        {
            <div class="flex-container1">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        T
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </div>
        }
        else if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.T)
        {
            <div class="flex-container1">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        T
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </div>
        }
        else
        {
            <button class="flex-container3 Seat" id="@item.Seat">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        A
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </button>
        }
    }
</div>

<hr />

@*<div style="font-size:20px;margin-left:10px">Seats</div>*@

@*<ol>
        @foreach (var item in Model)
        {
            if (item.UserDetailsId == ViewBag.UserDetailsId && item.SeatStatus == CinemaApp.DomainEntity.Model.Status.A)
            {
                <li>@item.Seat</li>
            }
        }
    </ol>*@


@*<div style="font-size:20px">Total Price (RM) @ViewBag.TotalPrice</div>*@

@Html.ActionLink(" Movie Halls", "MovieHalls", null, htmlAttributes: new { @class = "fa fa-arrow-left" })
@Html.ActionLink(" Cart", "OrderSummary", null, htmlAttributes: new { @class = "fa fa-arrow-right cfmbtn", @style = "float:right" })

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".Seat").click(function () {
            var dataId = $(this).attr("id");
            console.log(dataId);
            $.ajax({
                type: "POST",
                url: "/Movies/UpdateCart",
                data: { Seat: dataId },
                success: function (response) {
                    if (response) {
                        alert(response.Msg)
                        location.reload();
                    } else {
                        location.reload();
                    }
                }
            })
        })
    })

</script>
