@model IEnumerable<CinemaApp.DomainEntity.Model.MovieHallDetails>

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

@{
    ViewBag.Title = "Movie Seats";
}
<style>
    .flex-container {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 35px;
        text-align: center;
        background-color: cornsilk;
        height: 45px;
    }

    .flex-container1 {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 35px;
        text-align: center;
        background-color: blanchedalmond;
        height: 45px;
    }

    .flex-container2 {
        float: left;
        display: flex;
        width: 40px;
        border: 1px solid;
        padding: 6px;
        margin: 35px;
        text-align: center;
        background-color: chocolate;
        height: 45px;
    }

    table, th, td {
        /*border:1px solid black;*/
        padding: 3px;
    }
</style>

<h2>Movie Seats</h2>
<hr />
<h4>Hall No : @ViewBag.HallNo</h4>
<h4>Movie Title : @ViewBag.MovieTitle</h4>
<h4>Movie Start Time : @ViewBag.MovieDateTime</h4>
<h4>Ticket Price (RM) : @ViewBag.TicketPrice</h4>
<h5>T : Taken   |   E : Empty   |   O : Ordered</h5>
<hr />
<div>
    @foreach (var item in Model)

    {
        if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.E)
        {
            <button class="flex-container Seat" id="@item.Seat">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        @item.SeatStatus
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </button>

        }
        else if (item.SeatStatus == CinemaApp.DomainEntity.Model.Status.T && item.UserDetailsId != null)
        {
            <button class="flex-container2 Seat" id="@item.Seat">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        O
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </button>
        }
        else
        {
            <div class="flex-container1">
                <dl>
                    <dt style="margin-top:-5px;margin-left:6px">
                        @item.SeatStatus
                    </dt>
                    <dt style="margin-left:1px">
                        @item.Seat
                    </dt>
                </dl>
            </div>
        }
    }
</div>

<hr />

<div style="font-size:20px;margin-left:10px">Seats</div>

<ol>
    @foreach (var item in Model)
    {
        if (item.UserDetailsId != null)
        {
            <li>@item.Seat</li>
        }
    }
</ol>


<div style="font-size:15px">Total Price (RM) @ViewBag.TotalPrice</div>

@Html.ActionLink(" Movie Halls", "MovieHalls", null, htmlAttributes: new { @class = "fa fa-arrow-left" })
@Html.ActionLink(" Confirm", "MovieHalls", null, htmlAttributes: new { @class = "fa fa-arrow-right", @style = "float:right" })

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $(".Seat").click(function () {
            var dataId = $(this).attr("id");
            console.log(dataId);
            $.ajax({
                type: "POST",
                url: "/Movies/UpdateCart",
                data: { Seat: dataId },
                success: function () {
                    location.reload();
                }
            })
        })
    })

</script>