@model IEnumerable<CinemaApp.DomainEntity.Model.UserCart>

@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

@{
    ViewBag.Title = "OrderSummary";
}

<h2>Final Order Summary</h2>

<table class="table table-striped">
    <tr>
        <th>
            Movie Hall Id
        </th>
        <th>
            Hall No
        </th>
        <th>
            Movie Title
        </th>
        <th>
            Ticket Price
        </th>
        <th>
            Seat
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieHallsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
        </tr>
    }
    <tr>    
        <td style="font-weight:bold">Total Amount</td>
        <td></td>
        <td></td>
        <td>@Model.Sum(i=>i.TicketPrice)</td>
        <td></td>
    </tr>
</table>
@Html.ActionLink(" Movie Seats", "MovieSeats", null, htmlAttributes: new { @class = "fa fa-arrow-left" })
@if (ViewBag.Count > 0)
{
    @Html.ActionLink(" Confirm", "Confirm", null, htmlAttributes: new { @class = "fa fa-arrow-right", @style = "float:right" })
}

